<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guessthenumber" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuessTheNumber" >
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".WinningMessageActivity"
            android:exported="false" />
        <activity
            android:name=".WrongGuessActivity"
            android:exported="false" />
        <activity
            android:name=".CorrectGuessActivity"
            android:exported="false" />
        <activity
            android:name=".GuessEntryActivity"
            android:exported="false" />
        <activity
            android:name=".DifficultyLevelActivity"
            android:exported="false" />
        <activity
            android:name=".HomepageActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>